body {
  background: #f8fafc;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures vertical centering on full-height viewports */
  justify-content: center;
}

h1 {
  color: #000;
  font-family: Poppins, "Arial", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
}

.break-tech {
  display: block; /* Forces "technology" to break onto a new line */
}

.separator-img-container {
  display: flex;
  justify-content: center;
}

.article-images-container {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 750px;
  margin: 20px auto;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, padding 0.3s;
}

.article-images-container:hover {
  background-color: rgb(222, 166, 229);
  padding: 10px;
  transform: scale(1.025);
  box-shadow: 0 8px 24px rgba(243, 101, 6, 0.4);
}

.article-images {
  border-radius: 7%;
  width: 150px;
}

.article-text {
  color: #000;
  font-family: Poppins, "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.article-content {
  display: flex;
  flex-direction: column;
}

.article-date {
  color: #4d5562;
  font-family: Poppins, "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

footer {
  font-family: Poppins, Courier, monospace;
  text-align: center;
  color: #4d5562;
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: 2%;
}

footer a {
  text-decoration: underline;
  color: #4d5562;
}

/* Responsive Tweaks */
@media (max-width: 640px) {
  .article-images-container {
    gap: 10px;
    max-width: 85%;
  }

  .break-tech {
    display: inline;
  }
}

@media (max-width: 1024px) {
  .article-images-container {
    gap: 10px;
    max-width: 85%;
  }
}
